In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("movies_metadata.csv",encoding="UTF-8") 
data.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
data.info

<bound method DataFrame.info of        adult  ... vote_count
0      False  ...     5415.0
1      False  ...     2413.0
2      False  ...       92.0
3      False  ...       34.0
4      False  ...      173.0
...      ...  ...        ...
45461  False  ...        1.0
45462  False  ...        3.0
45463  False  ...        6.0
45464  False  ...        0.0
45465  False  ...        0.0

[45466 rows x 24 columns]>

In [ ]:
data = data.drop(columns=['adult', 'belongs_to_collection', 'homepage', 
       'imdb_id', 'original_language',  
       'poster_path', 'revenue', 'spoken_languages','status', 'tagline', 'video' ])

In [ ]:
data = data.dropna(subset=['overview'])

In [ ]:
data = data.reset_index(drop=True)

In [ ]:
data.isnull().sum()

budget                   0
genres                   0
id                       0
original_title           0
overview                 0
popularity               5
production_companies     3
production_countries     3
release_date            74
runtime                  6
title                    6
vote_average             6
vote_count               6
dtype: int64

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
vectorizer = TfidfVectorizer(stop_words='english', min_df=0.0005)  # TfidfVectorizer() 객체 변수 생성, 불용어 제거

tfidf = vectorizer.fit_transform(data['overview']).todense()

In [ ]:
def cos_sim(a, b):
    return float(cosine_similarity(a,b))

In [ ]:
def moviefinder(index,rank=5):
    scorelist = []
    movielist = []
    
    for i in range(len(tfidf)):
        if i != index:
            scorelist.append((cos_sim(tfidf[i],tfidf[index]),i))
    scorelist.sort()
    scorelist.reverse()
    scorelist = scorelist[:rank]
    
    for score, index in scorelist:
        movielist.append((score, data['title'][index]))
    
    return movielist

In [ ]:
moviefinder(0,rank = 10)

[(0.5061087901859292, 'Toy Story 3'),
 (0.44224280574399116, 'Toy Story 2'),
 (0.37889188979236066, 'The 40 Year Old Virgin'),
 (0.34997940174426434, 'The Champ'),
 (0.33775543747633296, 'Superstar: The Life and Times of Andy Warhol'),
 (0.32779415145360696, 'Andy Kaufman Plays Carnegie Hall'),
 (0.3199382721785055, "Andy Hardy's Blonde Trouble"),
 (0.3051869061980423, 'Hot Splash'),
 (0.2985634776478627, 'Andy Peters: Exclamation Mark Question Point'),
 (0.24408962851387753, 'Rivers and Tides')]

# 새 섹션

# 새 섹션