# 영화

## 데이터 전처리

### 데이터 읽어오기

In [13]:
import pandas as pd 
import numpy as np

# 데이터 읽어오기 
moives_metadata = pd.read_csv("movies_metadata.csv")
movies=pd.read_csv("movies.csv")
ratings=pd.read_csv("ratings.csv")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3166: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
ratings

         userId  movieId  rating   timestamp
0             1        2     3.5  1112486027
1             1       29     3.5  1112484676
2             1       32     3.5  1112484819
3             1       47     3.5  1112484727
4             1       50     3.5  1112484580
...         ...      ...     ...         ...
1048570    7120      168     5.0  1175543061
1048571    7120      253     4.0  1175542225
1048572    7120      260     5.0  1175542035
1048573    7120      261     4.0  1175543376
1048574    7120      266     3.5  1175542454

[1048575 rows x 4 columns]

## 텍스트 데이터 분석
- Tokenizing
- tf-idf

> 줄거리

## 줄거리 유사도 기반 영화 추천
- 코사인 유사도 활용
    > 추가지표 활용 -> 키워드 기반(word2vec), 유클리디안 거리 등

## 머신러닝 적용
- 줄거리의 특정 키워드와 평점의 상관관계?
- 추가변수 감독?

    > 줄거리로 영화 평점 예측